@import url("common.css");
.main{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../img/about_bck.jpg);
	background-size: 100%;
}
.about{
	width: 100%;
	background-color: #333333;
}
.about_area{
	margin: 100px 0;
	display: flex;
}
.about_area_img{
	width: 50%;
	text-align: center;
}
.about_area_img img{
	height: 400px;
} 
.about_area_msg{
	width: 30%;
	margin-right: 18%;
	margin-left: 2%;
}
.about_area_msg p{
	line-height: 30px;
	text-indent: 2em;
	color: #fff;
	font-size: 32px;
	font-family: chiller;
}
